.menu {
  background-color: var(--surface2);
  backdrop-filter: var(--blur);
  border-radius: calc(var(--size) * 6);
  height: calc(100% - 96px);
  width: 120px;
  padding: calc(var(--size) * 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: calc(var(--size) * 8) 0 0 calc(var(--size) * 8);
}
.social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--size) * 2) 0;
  row-gap: calc(var(--size) * 2);
  border-radius: calc(var(--size) * 4);
  background-color: var(--surface2);
  .arrow {
    svg {
      path {
        stroke: var(--text);
      }
    }
  }
}
.options {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  align-items: center;
}
.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface2);
  position: relative;
  width: 100%;
  padding: var(--size) calc(var(--size) * 2);
  svg {
    path {
      fill: var(--text);
    }
  }
  border-radius: calc(var(--size) * 2);
  .variants {
    position: relative;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .variant {
      display: flex;
    }
  }
}
